  .container1 {  display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "prim segu"
      "terc cuar";
  }
  
  .prim { grid-area: prim;
margin: 0 auto;
padding-top:75px;
 }
  
  .segu { grid-area: segu;
    margin: 0 auto;
    padding-top:75px;
   }
  
  .terc { grid-area: terc;
    margin: 0 auto;
    padding-top:75px;
    padding-bottom: 50px;
   }
  
  .cuar { grid-area: cuar;
    margin: 0 auto;
    padding-top:75px;
    padding-bottom: 50px;
   }
  
main{
  background-color: aliceblue;
}

.card{
  width: 700px;
  height: 400px;
  border-radius: 5px;
  border: solid black;
}
  

.me-2{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 75px;
  height: 50px;
}

.logonav{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 80px;
  height: 60px;
}


/*HTML ENCUESTAS*/

.container1 {  display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "prim segu"
      "terc cuar";
  }
  
  .prim { grid-area: prim;
margin: 0 auto;
padding-top:75px;
 }
  
  .segu { grid-area: segu;
    margin: 0 auto;
    padding-top:75px;
   }
  
  .terc { grid-area: terc;
    margin: 0 auto;
    padding-top:75px;
    padding-bottom: 50px;
   }
  
  .cuar { grid-area: cuar;
    margin: 0 auto;
    padding-top:75px;
    padding-bottom: 50px;
   }
  
main{
  background-color: aliceblue;
}

.card{
  width: 700px;
  height: 400px;
  border-radius: 5px;
  border: solid black;
}
  

.me-2{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 75px;
  height: 50px;
}




.container {
  width: 1000px;
  margin: 0 auto; }

.container-header-navbar {
  background: #0275d8;
}
.logo-container {
  color: #fff;
  border-left: 80px solid transparent;
  border-top: 80px solid #000001;
  position: relative;
}
#logo {
  position: absolute;
  top: -60px;
  left: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 2em;
}
nav {
  color: #fff;
  border-left: 80px solid transparent;
  border-top: 80px solid lightblue;
  position: relative;
  margin-left: 80px;
}
nav ul {
  position: absolute;
  top: -60px;
  left: 0;
}
nav ul li {
  display: inline-block;

}
nav ul li a {
  color: #0275d8;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 25px;
}


