.container {
    width: 1000px;
    margin: 0 auto; }
  
  .container-header-navbar {
    background: #0275d8;
  }
  .logo-container {
    color: #fff;
    border-left: 80px solid transparent;
    border-top: 80px solid #000001;
    position: relative;
  }
  nav {
    color: #fff;
    border-left: 80px solid transparent;
    border-top: 80px solid lightblue;
    position: relative;
    
  }
  nav ul li {
    display: inline-block;
  
  }
  nav ul li a {
    color: #0275d8;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 25px;
  }
  #empresa{
    font-size: 35px;
    color: #101773;
  }